body{
  background-color:#f7f0e6;
  font-family: Helvetica;
}

/* Header */
.header-wrapper {
  background-color: #faebd7;
  border-bottom: 2px solid #eeeeee;
  width: 100%;
  height: 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  position: relative;
  padding-top: 10px;
}

/* Selected Book */
.book-wrapper {
  margin-bottom: 40px;
  padding-top:20px;
  padding-left: 30px;
  padding-right: 30px;
}

.book-author,
.book-date {
  font-size: 16px;
}

.book-heading {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 20px;
}

.book-synopsis {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.book-img {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.book-img img {
  max-height: calc(100vh - 220px);
  height: 10%;
}

.book-date {
  display: flex;
  align-items: left;
  justify-content: left;
  font-weight: normal;
  font-size: 15px;
  margin-top: 0px;
}

.book-done-button {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: normal;
  font-size: 20px;
}

.btn-action{
  font-family: Helvetica;
  background-color:#3f51b5;
  border-color: #3f51b5;
  height:40px;
  margin-right: 10px;
  font-size:18px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-action:hover {
  background-color: #2c387e;
  border-color: #2c387e;
}

.btn-add {
  position: absolute;
  right: 0px;
}

/* Book List */
.book-list-wrapper {
  padding-top:20px;
}

.book-list-table {
  margin-top: 20px;
  /* height: calc(100vh - 140px); */
  height: 50%;
  max-height: 240px;
  overflow-y: scroll;
  cursor: pointer;
}

.search-button:hover {
  background-color: #d18c1b;
  border-color: #d18c1b;
  color: white;
}

/** Login page **/
.btn-next {
  position: absolute;
  right: 0px;
}

.btn-previous {
  position: absolute;
  left: 0px;
}

.buttons {
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.card {
  align-items: center;
  justify-content: left;
  margin-left: 25%;
  margin-top: 2%;
  width: 50%;
}

.chatbot-btn-container {
  position: absolute;
  right: 2%;
  top: 72px;
}

.chatbot-container {
  position: absolute;
  right: 75px;
  top: 72px;
}

.fb-login,
.google-login {
  margin: 2%;
}


